.container {
  width: 100vw;
  box-sizing: border-box;
  background-image: url('.././../assert/music/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40px;
  padding-left: 20px;
  padding-bottom: 40px;
  padding-right: 20px;
  font-size: 'pingfang SC regular';
  // position: relative;

  .logoImages {
    background-image: url('.././../assert/music/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    background-size: 60%;
  }

  .titleImages {
    background-image: url('.././../assert/music/chineseTitle.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100px;
  }

  .titleImagesEng {
    background-image: url('.././../assert/music/englishTitle.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 125px;
  }

  // .wheelImages{
  //   background-image: url('.././../assert/music/drive.png');
  //   background-repeat: no-repeat;
  //   background-size: contain;
  //   width: 80vw;
  //   height: 100px;
  //   transform: scale(3);
  //   // position: absolute;
  //   // right: -110%;
  //   // top: 25%;
  //   z-index: 1;
  // }
  .wheelImageWrap {
    text-align: right;
    margin-bottom: 30px;

    .wheelImage {
      width: 100px;
      height: 100px;
      transform: scale(2);
    }
  }


  .tickenIntro {
    box-sizing: border-box;
    background-image: url('../../assert/music/rect1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 240px;
    padding: 30px 10px 10px 10px;

    .tickenIntroTitle {
      font-size: 20px;
      color: rgb(169, 169, 169);
    }

    .tickenIntroContent {
      color: rgb(89, 182, 95);
      padding-left: 18px;
      padding-top: 8px;

      .tickenIntroItem {
        font-size: 16px;
        margin: 5px 0;
      }

    }
  }

  .plugChainIntro {
    background-image: url('../../assert/music/rect2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 20px;
    color: rgb(152, 152, 152);
    margin-top: 20px;
    font-size: 16px;
  }

  .btnWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(108, 227, 112);
    height: 30px;
    border-radius: 5px;
    margin: 20px 0;
    padding: 5px;
    .btnIcon{
      background-image:url('../../assert/music/btnIcon.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 20px;
      height: 10px;
      margin-right: 10px;
    }
  }

  .contactWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .contact {
      text-align: center;
      background-image: url('../../assert/music/contctIcon.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: aliceblue;
      width: 60%;
    }

    .contactList {
      display: flex;
      justify-content: space-evenly;
      margin-top: 20px;

      .contactItem {
        display: flex;

        .contactIcon {
          width: 36px;
          height: 36px;
          margin-right: 12px;
        }

        .contactIconText {
          .contactIconTextTitle {
            width: 59px;
            height: 22px;
            font-family: 'PingFang SC';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            text-transform: capitalize;
            color: #FFFFFF;
          }

          .contactIconTextDetail {
            width: 82px;
            height: 18px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: #FFFFFF;
            opacity: 0.8;
          }
        }
      }
    }

  }



}



:global {
  .adm-center-popup {
    --background-color: none;
    --border-radius: 38px;
  }
}